body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 230px;
    letter-spacing: 1px;
}

.logo {
    margin-top: 230px;
    margin-bottom: 40px;
    text-align: center;
}

figure {
    display: inline-block;
    margin: 20px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
}

.headers {
    text-align: center;
    color: rgb(59, 59, 59);
    font-family: sans-serif;
}

.logos {
    font-size: 70px;
    margin-bottom: 100px;
}

.emotes {
    font-size: 70px;
    margin-bottom: 100px;
}

.illustrations {
    font-size: 70px;
    margin-bottom: 100px;
}

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: sans-serif;
}

.buy-button {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 24px;
}

.buy-button:hover {
    background-color: #555555;
    color: white;
  }

.buy-button2 {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 16px;
}

.buy-button2:hover {
    background-color: #555555;
    color: white;
  }

  .buy-button3 {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 14px;
}

.buy-button3:hover {
    background-color: #555555;
    color: white;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-decoration: none;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
a { color:rgb(255, 255, 255) }

  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
