body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 230px;
    letter-spacing: 1px;
}

.logo {
    margin-top: 230px;
    margin-bottom: 40px;
    text-align: center;
}

figure {
    display: inline-block;
    margin: 20px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
}

.headers {
    text-align: center;
    color: rgb(59, 59, 59);
    font-family: sans-serif;
}

.logos {
    font-size: 70px;
    margin-bottom: 100px;
}

.emotes {
    font-size: 70px;
    margin-bottom: 100px;
}

.illustrations {
    font-size: 70px;
    margin-bottom: 100px;
}

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: sans-serif;
}

.buy-button {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 24px;
}

.buy-button:hover {
    background-color: #555555;
    color: white;
  }

.buy-button2 {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 16px;
}

.buy-button2:hover {
    background-color: #555555;
    color: white;
  }

  .buy-button3 {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    font-size: 14px;
}

.buy-button3:hover {
    background-color: #555555;
    color: white;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-decoration: none;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
a { color:rgb(255, 255, 255) }

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.8;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.8;}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.8;}

#myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg4:hover {opacity: 0.8;}

#myImg5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg5:hover {opacity: 0.8;}

#myImg6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg6:hover {opacity: 0.8;}

#myImg7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg7:hover {opacity: 0.8;}

#myImg8 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg8:hover {opacity: 0.8;}

#myImg9 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg9:hover {opacity: 0.8;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
